- name: Deploy Web Application
  hosts: webserver
  become: yes
  vars:
    ecr_url: "990060748140.dkr.ecr.ap-southeast-1.amazonaws.com"
    repo_name: "devops-bootcamp/final-project-mohdadlijaaffar"
    
  tasks:
    # --- START OF NEW TASKS ---
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Unzip
      apt:
        name: unzip
        state: present

    - name: Download AWS CLI
      get_url:
        url: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
        dest: "/tmp/awscliv2.zip"

    - name: Unzip AWS CLI
      unarchive:
        src: "/tmp/awscliv2.zip"
        dest: "/tmp"
        remote_src: yes

    - name: Install AWS CLI Binary
      command: /tmp/aws/install --update
    # --- END OF NEW TASKS ---

    - name: Login to ECR
      shell: "aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin {{ ecr_url }}"

    - name: Pull Docker Image
      command: "docker pull {{ ecr_url }}/{{ repo_name }}:latest"

    - name: Stop running container
      command: "docker stop my-app"
      ignore_errors: yes

    - name: Remove old container
      command: "docker rm my-app"
      ignore_errors: yes

    - name: Run Web App Container
      command: "docker run -d --name my-app -p 80:80 {{ ecr_url }}/{{ repo_name }}:latest"

    # --- Fix for Node Exporter ---
    - name: Stop running node-exporter
      command: "docker stop node-exporter"
      ignore_errors: yes

    - name: Remove old node-exporter
      command: "docker rm node-exporter"
      ignore_errors: yes

    - name: Run Node Exporter
      command: "docker run -d --name node-exporter -p 9100:9100 prom/node-exporter"