name: Deploy to ECR and Web Server

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        repository: infratify/lab-final-project

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: devops-bootcamp/final-project-mohdadlijaaffar
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG --build-arg USER_NAME="MOHD ADLI BIN JAAFFAR" .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v3
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-1

    - name: Trigger Deploy on Web Server via SSM
      run: |
        aws ssm send-command \
          --document-name "AWS-RunShellScript" \
          --targets "Key=tag:Name,Values=web-server" \
          --comment "Deploying new version for Mohd Adli Bin Jaaffar" \
          --parameters 'commands=[
            "aws ecr get-login-password --region ap-southeast-1 | docker login --username AWS --password-stdin 990060748140.dkr.ecr.ap-southeast-1.amazonaws.com",
            "docker pull 990060748140.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-mohdadlijaaffar:latest",
            "docker stop my-app || true",
            "docker rm my-app || true",
            "docker run -d --restart always --name my-app -p 80:80 990060748140.dkr.ecr.ap-southeast-1.amazonaws.com/devops-bootcamp/final-project-mohdadlijaaffar:latest"
          ]'